* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacer {
  margin-top: 30px;
  border: 0px solid black;
}

.left,
.right {
  display: inline-block;
}

.left {
  text-align: left;
  width: 70%;
}
.right {
  text-align: right;
  width: 30%;
}

@media (max-width: 585px) {
  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }

  .btn-small {
    margin-left: 5px !important;
  }
}
